li{
    list-style: none;
}

@keyframes spin{
    100% {
        transform: rotate(360deg);
    }
}

body{
    background-color: rgb(70, 70, 70);
}

.wrapper{
    width : 960px;
    margin : 0 auto;
}

.title{
    font-size: 2.3em;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
    color : rgb(253, 109, 141);
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.title::after{
    content: ' ';
    background-color: rgb(240, 240, 240);
    position: absolute;
    left: 150px;
    bottom: 50px;
    height: 30px;
    right: 150px;
    opacity: 0.1;
    border-radius: 15px;
}

.chart{
    background-color: rgb(131, 131, 131);
    overflow: hidden;
    counter-reset: rank;
}

.chart-rank{
    margin: 90px;
    height: 90px;
    position: relative;
    counter-increment: rank;
}

.chart-rank:first-of-type{
    height: 120px;
}

.chart-rank-content{
    background-color: rgb(185, 185, 185);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.chart-rank-content::before{
    content: counter(rank);
    float: left;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    padding: 10px;
    width: 1em;
    text-align: right;
    margin-right: 0.25em;
    color: rgb(124, 124, 124);
    transition : all 0.5s;
}

.chart-rank-content:hover{
    margin : -30px;
    background-color: rgb(213, 214, 216);
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

.album-cover{
    float: right;
    height: 100%;
    position: relative;
    z-index: 1;
}

.album-disk{
    
    height: 100%;
    position: absolute;
    right: 0;
    animation-name : spin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    transition : all 0.5s
}



.album-content{
    overflow: hidden;
    padding: 15px;
    color: rgb(124, 124, 124);
    transition: all 0.5s;
}

.chart-rank-content:hover .album-content{
    color: rgb(73, 73, 73);
}

.chart-rank-content:hover .album-disk{
    right: 85px;
    transition-delay: .5s;
}

.album-description{
    margin-top: 20px;
    opacity: 0;
    transition : all 1s;
    padding-right: 30px;
    transition : opacity 0.5s;
}

.chart-rank-content:hover .album-description{
    opacity: 1;
    transition-delay: 0.5s;

}

.chart-rank-content:hover::before{
    color:rgb(207, 110, 130)
}